.side-content
  .side-header
    .side-header__box
      = current_user.name
      %ul.side-header__box__menu
        %ul.side-header__box__menu__new-group
          = link_to new_group_path do
            = icon('fas', 'edit')
        %ul.side-header__box__menu__new-group
          = link_to edit_user_path(current_user.id) do
            = icon('fas', 'cog')

  .side-bar
    - current_user.groups.each do |group|
      .side-bar__box
        = link_to group_messages_path(group) do
          .side-bar__box-name
            = group.name
          .side-bar__box-message
            = group.show_last_message